!!!
%html{ lang: "en", "ng-app" => "LocalList" }
	%head

		-# META
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:name => "Author", :content => "Pedro Pinto"}

		-# TITLE
		%title LocalList

		-# CSS
		%link{:href => "/assets/style.css", :rel => "stylesheet"}

	%body{"ng-controller" => "TasksController"}
		.flex.align-items-stretch
			.left-panel.white
				%main
					%header
						.container.text-even-bigger.wrap-2x.flex.align-items-center.flex-wrap
							-#%h1.m0.text-center LocalList
							-#%h2.text-smaller.m0.w700.text-grey You have 12 tasks to accomplish

							.new-task.center
								%input#new-task-field.g-100.wrap-1x.text-bigger.text-center{ type: "text", placeholder: "What will you do next?" }
								%a.add.block.text-center.wrap-1x.white.text-blue{href: "#"}
									Add to list

					%section.flex.flex-wrap
						- 14.times do
							.task.wrap-2x.text-bigger.flex-basis.flex-grow.true-white
								%p.m0
									%i.fa.fa-square-o.icon-spacer-right.text-grey
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.
									%a.remove.text-red Remove

			.right-panel.white
				%aside
					%header.wrap-2x.true-white
						%h1.m0.w700 Congrats
						%h2.m0.w400 You've accomplished 5 tasks

					%section
						- 10.times do
							.task.wrap-2x.text-bigger
								%p.m0.text-grey
									%i.fa.fa-check-square-o.icon-spacer-right
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		-# JAVASCRIPTS
		-#%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"}
		%script{:src => "/assets/scripts.min.js"}
