<!DOCTYPE html>
<html lang="en" ng-app="LocalList">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="Author" content="Pedro Pinto">
    <link href="apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="favicon-194x194.png" rel="icon" sizes="194x194" type="image/png">
    <link href="favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="manifest.json" rel="manifest">
    <link color="#2980b9" href="safari-pinned-tab.svg" rel="mask-icon">
    <meta content="LocalList" name="apple-mobile-web-app-title">
    <meta content="LocalList" name="application-name">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="mstile-144x144.png" name="msapplication-TileImage">
    <meta content="#2980b9" name="theme-color">
    <title>LocalList — A simple todo list hosted on local storage v1.2</title>
    <link href="assets/style.css" rel="stylesheet">
  </head>
  <body ng-controller="TasksController">
    <div ng-if="!old_visitor" class="welcome-screen">
      <div class="welcome-screen__wrapper">
        <div class="welcome-screen__headers wrap-3x">
          <h1 class="big-header">Welcome to LocalList!</h1>
          <h2 class="small-header">A todo list that gets saved to the local storage of your browser.</h2>
          <p class="text-grey">You can learn more about it on <a class="text-blue" href="https://github.com/pmpinto/todo-list-locallist" target="_blank">GitHub</a> if you wish.</p>
          <div class="wrap-2x"><a ng-click="get_started()" class="welcome-screen__link wrap-1x">Get started!</a></div>
        </div>
      </div>
    </div>
    <div class="site-container">
      <div class="left-panel">
        <main>
          <header class="left-panel__header">
            <div class="left-panel__header-container wrap-2x">
              <div ng-if="!editing_task" class="left-panel__header-task-container">
                <input placeholder="Type something here..." type="text" ng-keydown="keypressed_on_new_task($event, new_task)" ng-model="new_task.description" class="left-panel__header-input wrap-1x"><a ng-click="add_new_task(new_task)" class="left-panel__header-add-button wrap-1x">Add to list</a>
              </div>
              <div ng-if="editing_task" class="left-panel__header-task-container">
                <input placeholder="Forgot something?" type="text" ng-keydown="keypressed_on_edit_task($event)" ng-model="editing_task.description" class="left-panel__header-input wrap-1x"><a ng-click="update_task()" class="left-panel__header-add-button wrap-1x">Update task</a>
              </div>
            </div>
          </header>
          <section class="tasks">
            <div ng-class="{'task--is-editing': is_editing_task(task)}" ng-repeat="task in get_tasks(tasks, false) track by task.id" class="tasks__task wrap-2x">
              <p class="tasks__text-wrapper"><i ng-click="complete_task(task)" class="fa fa-square-o icon-spacer-right text-grey"></i><span ng-click="edit_task(task)" class="tasks__title">{{ task.description }}</span><a ng-click="remove_task(task)" class="tasks__btn-remove">Remove</a></p>
            </div>
          </section>
          <section ng-if="!get_tasks(tasks, false).length &amp;&amp; get_tasks(tasks, true).length">
            <div class="no-tasks-header wrap-3x">
              <h1 class="big-header">You are the best!</h1>
              <h2 class="small-header">Enjoy the fresh air outside.</h2>
            </div>
          </section>
          <section ng-if="!get_tasks(tasks, false).length &amp;&amp; !get_tasks(tasks, true).length">
            <div class="no-tasks-header wrap-3x">
              <h1 class="big-header">Need help?</h1>
              <h2 class="small-header">Type something in the input field above and press enter.</h2>
            </div>
          </section>
        </main>
      </div>
      <div class="done-tasks">
        <aside>
          <header ng-if="get_tasks(tasks, true).length" class="wrap-2x done-tasks__header">
            <h1 class="big-header">Congrats!</h1>
            <h2 class="small-header">You&#39;ve accomplished {{ get_tasks(tasks, true).length }} tasks.</h2>
          </header>
          <header ng-if="!get_tasks(tasks, true).length &amp;&amp; get_tasks(tasks, false).length" class="wrap-2x done-tasks__header">
            <h1 class="big-header">C&#39;mon, you can do it!</h1>
            <h2 class="small-header">You have {{ get_tasks(tasks, false).length }} tasks to accomplish.</h2>
          </header>
          <header ng-if="!get_tasks(tasks, true).length &amp;&amp; !get_tasks(tasks, false).length" class="wrap-2x done-tasks__header">
            <h1 class="big-header">Still nothing...</h1>
            <h2 class="small-header">Add some tasks on the left.</h2>
          </header>
          <section>
            <div ng-animate="'task'" ng-repeat="task in get_tasks(tasks, true) | orderBy: '-completedDate' track by task.completedDate" class="done-tasks__task wrap-2x">
              <p class="done-tasks__task-text"><i ng-click="uncomplete_task(task)" class="fa fa-check-square-o icon-spacer-right"></i>{{ task.description }}</p>
            </div>
          </section>
          <footer>
            <p class="footer-text wrap-2x">Check this project at <a class="text-blue" href="https://github.com/pmpinto/todo-list-locallist" target="_blank">GitHub</a>!</p>
          </footer>
        </aside>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"></script>
    <script src="assets/scripts.min.js"></script>
  </body>
</html>