!!!
%html{ lang: "en", "ng-app" => "LocalList" }
	%head

		-# META
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:name => "Author", :content => "Pedro Pinto"}

		-# TITLE
		%title LocalList

		-# CSS
		%link{:href => "/assets/style.css", :rel => "stylesheet"}

	%body{"ng-controller" => "TasksController"}
		.flex.align-items-stretch
			.left-panel.white
				%main
					%header
						.container.text-even-bigger.wrap-2x.flex.align-items-center.flex-wrap
							-#%h1.m0.text-center LocalList
							-#%h2.text-smaller.m0.w700.text-grey You have 12 tasks to accomplish

							.new-task.center
								%input#new-task-field.g-100.wrap-1x.text-bigger.text-center{ type: "text", placeholder: "What will you do next?", "ng-model" => "new_task", "ng-keydown" => "keypressed_on_new_task($event, new_task)" }
								%a.add.block.text-center.wrap-1x.true-white.text-blue{"ng-click" => "add_new_task(new_task)"} Add to list

					%section.flex.flex-wrap{"ng-if" => "get_tasks(tasks, false).length"}
						.task.wrap-2x.text-bigger.flex-basis.flex-grow.true-white{"ng-repeat" => "task in get_tasks(tasks, false) track by $index"}
							%p.m0
								%i.fa.fa-square-o.icon-spacer-right.text-grey{"ng-click" => "complete_task(task)"}
								{{ task.description }}
								%a.remove.text-red{"ng-click" => "remove_task(task)"} Remove

					%section{"ng-if" => "!get_tasks(tasks, false).length && get_tasks(tasks, true).length"}
						.wrap-3x.text-center.text-even-bigger
							%h1.m0.w700 You are the best!
							%h2.m0.w400 Enjoy the fresh air outside.

					%section{"ng-if" => "!get_tasks(tasks, false).length && !get_tasks(tasks, true).length"}
						.wrap-3x.text-center.text-even-bigger
							%h1.m0.w700 Need help?
							%h2.m0.w400 Type something in the input field above and press enter.

			.right-panel.white
				%aside
					%header.wrap-2x.true-white{"ng-if" => "get_tasks(tasks, true).length"}
						%h1.m0.w700 Congrats!
						%h2.m0.w400 You've accomplished {{ get_tasks(tasks, true).length }} tasks.

					%header.wrap-2x.true-white{"ng-if" => "!get_tasks(tasks, true).length && get_tasks(tasks, false).length"}
						%h1.m0.w700 C'mon, you can do it!
						%h2.m0.w400 You have {{ get_tasks(tasks, false).length }} tasks to accomplish.

					%header.wrap-2x.true-white{"ng-if" => "!get_tasks(tasks, true).length && !get_tasks(tasks, false).length"}
						%h1.m0.w700 Still nothing...
						%h2.m0.w400 Add some tasks on the left.

					%section{"ng-if" => "get_tasks(tasks, true).length"}
						.task.wrap-2x.text-bigger{"ng-repeat" => "task in get_tasks(tasks, true) | orderBy: '-completedDate' : reverse track by $index"}
							%p.m0.text-grey
								%i.fa.fa-check-square-o.icon-spacer-right
								{{ task.description }}

		-# JAVASCRIPTS
		-#%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"}
		%script{:src => "/assets/scripts.min.js"}
