!!!
%html{ lang: "en" }
	%head

		-# META
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:name => "Author", :content => "Pedro Pinto"}

		-# TITLE
		%title LocalList

		-# CSS
		-#%link{:href => "/assets/style.css", :rel => "stylesheet"}

		-# JAVASCRIPT
		-#%script{:src => "/assets/scripts.js"}


	%body
		