!!!
%html{ lang: "en", "ng-app" => "LocalList" }
	%head

		-# META
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%meta{:name => "Author", :content => "Pedro Pinto"}

		-# FAVICON - http://realfavicongenerator.net/
		%link{:href => "apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
		%link{:href => "apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
		%link{:href => "apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
		%link{:href => "apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
		%link{:href => "apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
		%link{:href => "apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
		%link{:href => "apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
		%link{:href => "apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
		%link{:href => "apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
		%link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
		%link{:href => "favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}
		%link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
		%link{:href => "android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
		%link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
		%link{:href => "manifest.json", :rel => "manifest"}
		%link{:color => "#2980b9", :href => "safari-pinned-tab.svg", :rel => "mask-icon"}
		%meta{:content => "LocalList", :name => "apple-mobile-web-app-title"}
		%meta{:content => "LocalList", :name => "application-name"}
		%meta{:content => "#da532c", :name => "msapplication-TileColor"}
		%meta{:content => "mstile-144x144.png", :name => "msapplication-TileImage"}
		%meta{:content => "#2980b9", :name => "theme-color"}
	
		-# TITLE
		%title LocalList — A simple todo list hosted on local storage v1.2

		-# CSS
		%link{:href => "assets/style.css", :rel => "stylesheet"}

	%body{"ng-controller" => "TasksController"}
		.welcome-screen.text-even-bigger{"ng-if" => "!old_visitor"}
			.welcome-screen__wrapper.flex.align-items-center
				.wrap-3x.text-center.text-bigger.g-100
					%h1.m0.w700 Welcome to LocalList!
					%h2.m0.w400 A todo list that gets saved to the local storage of your browser.
					%p.text-grey You can learn more about it on <a href="https://github.com/pmpinto/todo-list-locallist" target="_blank" class="text-blue">GitHub</a> if you wish.

					.wrap-2x
						%a.welcome-screen__link.wrap-1x.true-white.text-blue{"ng-click" => "get_started()"} Get started!

		.flex.align-items-stretch
			-# LEFT PANEL
			.left-panel.white.g-100
				%main
					-# HEADER / INPUT FIELD
					%header.left-panel__header
						.left-panel__header-container.text-even-bigger.wrap-2x.flex.align-items-center.flex-wrap
							-# NEW TASK
							.left-panel__header-task-container.center{"ng-if" => "!editing_task"}
								%input.header__task-input.g-100.wrap-1x.text-bigger.text-center{ type: "text", placeholder: "Type something here...", "ng-model" => "new_task.description", "ng-keydown" => "keypressed_on_new_task($event, new_task)" }
								%a.header__add-button.block.text-center.wrap-1x.true-white.text-blue{"ng-click" => "add_new_task(new_task)"} Add to list
							
							-# EDITING TASK
							.left-panel__header-task-container.center{"ng-if" => "editing_task"}
								%input.header__task-input.g-100.wrap-1x.text-bigger.text-center{ type: "text", placeholder: "Forgot something?", "ng-model" => "editing_task.description", "ng-keydown" => "keypressed_on_edit_task($event)" }
								%a.header__add-button.block.text-center.wrap-1x.true-white.text-blue{"ng-click" => "update_task()"} Update task

					-# TASKS LOOP
					%section.flex.flex-wrap
						.task.wrap-2x.text-bigger.flex-basis.flex-grow.true-white{"ng-repeat" => "task in get_tasks(tasks, false) track by task.id", "ng-class" => "{'task--is-editing': is_editing_task(task)}"}
							%p.m0.task__text-wrapper
								%i.fa.fa-square-o.icon-spacer-right.text-grey{"ng-click" => "complete_task(task)"}
								%span.task__title{"ng-click" => "edit_task(task)"} {{ task.description }}
								%a.task__btn-remove.text-red{"ng-click" => "remove_task(task)"} Remove

					-# NO TASKS TO DO MESSAGE
					%section{"ng-if" => "!get_tasks(tasks, false).length && get_tasks(tasks, true).length"}
						.wrap-3x.text-center.text-even-bigger
							%h1.m0.w700 You are the best!
							%h2.m0.w400 Enjoy the fresh air outside.

					-# NO TASKS AT ALL MESSAGE
					%section{"ng-if" => "!get_tasks(tasks, false).length && !get_tasks(tasks, true).length"}
						.wrap-3x.text-center.text-even-bigger
							%h1.m0.w700 Need help?
							%h2.m0.w400 Type something in the input field above and press enter.

			-# DONE TASKS
			.done-tasks.white.g-100
				%aside
					-# REGULAR X TASKS DONE MESSAGE
					%header.wrap-2x.true-white.done-tasks__header{"ng-if" => "get_tasks(tasks, true).length"}
						%h1.m0.w700 Congrats!
						%h2.m0.w400 You've accomplished {{ get_tasks(tasks, true).length }} tasks.

					-# MOTIVATOR MESSAGE
					%header.wrap-2x.true-white.done-tasks__header{"ng-if" => "!get_tasks(tasks, true).length && get_tasks(tasks, false).length"}
						%h1.m0.w700 C'mon, you can do it!
						%h2.m0.w400 You have {{ get_tasks(tasks, false).length }} tasks to accomplish.

					-# NO TASKS AT ALL MESSAGE
					%header.wrap-2x.true-white.done-tasks__header{"ng-if" => "!get_tasks(tasks, true).length && !get_tasks(tasks, false).length"}
						%h1.m0.w700 Still nothing...
						%h2.m0.w400 Add some tasks on the left.

					-# COMPLETED TASKS LOOP
					%section
						.done-tasks__task.wrap-2x.text-bigger{"ng-repeat" => "task in get_tasks(tasks, true) | orderBy: '-completedDate' track by task.completedDate", "ng-animate" => "'task'"}
							%p.m0.text-grey.done-tasks__task-text
								%i.fa.fa-check-square-o.icon-spacer-right{"ng-click" => "uncomplete_task(task)"}
								{{ task.description }}

					-# FOOTER
					%footer
						%p.wrap-2x.text-grey.w400.text-center Check this project at <a href="https://github.com/pmpinto/todo-list-locallist" target="_blank" class="text-blue">GitHub</a>!


		-# JAVASCRIPTS
		%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"}
		%script{:src => "assets/scripts.min.js"}
