@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

[ng-click] {
  cursor: pointer;
}

.text-grey {
  color: rgba(44, 62, 80, 0.5);
}

.text-blue {
  color: #2980b9;
}

.icon-spacer-right {
  margin-right: 0.4em;
}

.wrap-2x {
  padding: 2em;
}

@media (max-width: 47.938em) {
  .wrap-2x {
    padding: 1.5em;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #2c3e50;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body p a {
  text-decoration: none;
}

body p a:hover {
  border-bottom: 1px solid rgba(41, 128, 185, 0.5);
}

@media (max-width: 47.938em) {
  body {
    font-size: 0.7em;
  }
}

.site-container {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-tasks-header {
  font-size: 1.6em;
  padding: 3em;
  text-align: center;
}

.big-header {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.small-header {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-text {
  color: rgba(44, 62, 80, 0.5);
  font-weight: 400;
  text-align: center;
  padding: 2em;
}

@media (max-width: 47.938em) {
  .footer-text {
    padding: 1.5em;
  }
}

.welcome-screen {
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.welcome-screen.ng-leave-active {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 0;
}

.welcome-screen__wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(236, 240, 241, 0.92);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.welcome-screen__headers {
  font-size: 1.3em;
  padding: 3em;
}

.welcome-screen__link {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background-color: #ffffff;
  border-radius: 4px;
  color: #2980b9;
  display: inline-block;
  margin-top: 2em;
  padding: 1em;
}

@media (max-width: 47.938em) {
  .welcome-screen__link {
    margin-top: 1.5em;
    padding: 0.5em;
  }
}

.welcome-screen__link:hover {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  background-color: #2980b9;
  color: #ecf0f1;
}

.left-panel {
  background-color: #ecf0f1;
  width: 100%;
}

@media (min-width: 87.5em) {
  .left-panel {
    width: 70%;
  }
}

.left-panel__header {
  background-color: rgba(44, 62, 80, 0.35);
  border-bottom: 1px solid rgba(44, 62, 80, 0.19999999999999996);
}

.left-panel__header-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.6em;
  min-height: 40vh;
  padding: 2em;
}

@media (max-width: 47.938em) {
  .left-panel__header-container {
    min-height: 30vh;
    padding: 1.5em;
  }
}

.left-panel__header-task-container {
  margin: 0 auto;
}

@media (max-width: 47.938em) {
  .left-panel__header-task-container {
    width: 100%;
  }
}

@media (min-width: 48em) and (max-width: 87.438em) {
  .left-panel__header-task-container {
    width: 80%;
  }
}

@media (min-width: 87.5em) {
  .left-panel__header-task-container {
    width: 70%;
  }
}

.left-panel__header-input {
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-size: 1.3em;
  outline: none;
  padding: 1em;
  text-align: center;
  width: 100%;
}

@media (max-width: 47.938em) {
  .left-panel__header-input {
    padding: 0.5em;
  }
}

.left-panel__header-input:hover,
.left-panel__header-input:focus {
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  border-color: #2980b9;
}

.left-panel__header-input::-webkit-input-placeholder {
  color: rgba(236, 240, 241, 0.75);
}

.left-panel__header-input::-moz-placeholder {
  color: rgba(236, 240, 241, 0.75);
}

.left-panel__header-input:-ms-input-placeholder {
  color: rgba(236, 240, 241, 0.75);
}

.left-panel__header-input::placeholder {
  color: rgba(236, 240, 241, 0.75);
}

.left-panel__header-add-button {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background-color: #ffffff;
  border-radius: 4px;
  color: #2980b9;
  display: block;
  margin-top: 0.5em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 47.938em) {
  .left-panel__header-add-button {
    padding: 0.5em;
  }
}

.left-panel__header-add-button:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.tasks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tasks__task {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-flex-basis: 30%;
  -ms-flex: 0 1 30%;
  flex-basis: 30%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex-grow: 1;
  font-size: 1.3em;
  padding: 2em;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  z-index: 1;
}

.tasks__task:hover {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}

.tasks__task:hover .tasks__btn-remove {
  opacity: 1;
}

.tasks__task.ng-enter {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.tasks__task.ng-leave-active {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  opacity: 0;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scaleY(0.1);
  -ms-transform: scaleY(0.1);
  transform: scaleY(0.1);
}

.tasks__task.is-editing {
  color: #ecf0f1;
  background-color: #7fbbe3;
}

@media (max-width: 47.938em) {
  .tasks__task {
    -webkit-flex-basis: 100%;
    -ms-flex: 0 1 100%;
    flex-basis: 100%;
    padding: 1.5em;
    margin-bottom: 0.1em;
  }
}

.tasks__text-wrapper {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.tasks__title {
  cursor: pointer;
}

.tasks__title:hover {
  color: #2980b9;
  border-bottom: 1px solid rgba(41, 128, 185, 0.5);
}

.tasks__btn-remove {
  font-size: 0.7em;
  color: #e74c3c;
  margin-left: 0.5em;
  opacity: 0;
}

.tasks__btn-remove:hover {
  border-bottom: 1px solid rgba(231, 76, 60, 0.5);
}

.done-tasks {
  background-color: #ecf0f1;
  border-top: 1px solid rgba(44, 62, 80, 0.19999999999999996);
  font-size: 1.3em;
  width: 100%;
}

@media (min-width: 87.5em) {
  .done-tasks {
    border-left: 1px solid rgba(44, 62, 80, 0.19999999999999996);
    height: 100vh;
    overflow: scroll;
    position: fixed;
    width: 30%;
  }
}

.done-tasks__header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(44, 62, 80, 0.19999999999999996);
  padding: 2em;
}

@media (max-width: 47.938em) {
  .done-tasks__header {
    padding: 1.5em;
  }
}

.done-tasks__task {
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
  cursor: default;
  padding: 2em;
}

.done-tasks__task:hover {
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  background-color: #ffffff;
}

.done-tasks__task:hover .done-tasks__task-text {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
  color: #2c3e50;
}

.done-tasks__task.ng-enter {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.done-tasks__task.ng-enter-active {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  background-color: #ffffff;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.done-tasks__task.ng-enter-active .done-tasks__task-text {
  color: #2c3e50;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.done-tasks__task.ng-leave-active {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
}

@media (max-width: 47.938em) {
  .done-tasks__task {
    padding: 1.5em;
  }
}

@media (min-width: 87.5em) {
  .done-tasks__task {
    border-bottom: 1px solid rgba(44, 62, 80, 0.19999999999999996);
  }
}

.done-tasks__task-text {
  -webkit-transition: color 2s ease;
  transition: color 2s ease;
  margin-bottom: 0;
  margin-top: 0;
}