@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


// ### UTILS ###################################################################

@white: #ECF0F1;
@black: #2C3E50;
@red: #E74C3C;
@blue: #2980B9;

.text-black { color: @black; }
.text-grey { color: fadeout(@black, 50%); }
.text-red { color: @red; }
.text-blue { color: @blue; }
.text-white { color: @white; }

.text-even-bigger { font-size: 1.6em; }
.text-bigger { font-size: 1.3em; }
.text-smaller { font-size: 0.7em; }
.text-even-smaller { font-size: 0.4em; }

.text-center { text-align: center; }

.text-sans { font-family: "Roboto Condensed", sans-serif; }

.icon-spacer-right { margin-right: 0.4em; }

.w400 { font-weight: 400; }
.w700 { font-weight: 700; }

.wrap-1x { padding: 1em; }
.wrap-2x { padding: 2em; }
.wrap-3x { padding: 3em; }

.white { background-color: @white; }
.black { background-color: @black; }
.true-white { background-color: #fff; }
.red { background-color: @red; }
.blue { background-color: @blue; }

.g-30 { width: 30%; }
.g-70 { width: 70%; }
.g-80 { width: 80%; }
.g-100 { width: 100%; }
.center { margin: 0 auto; }
.m0 { margin: 0; }
.block { display: block; }

.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.align-items-center { align-items: center; }
.align-items-stretch { align-items: stretch; }
.flex-basis { flex-basis: 30%; }
.flex-grow { flex-grow: 1; }

[ng-click] { cursor: pointer; }

.transition(@property: all, @duration: 150ms, @timing: ease){
	-webkit-transition: @property @duration @timing;
	transition: @property @duration @timing;
}


body {
	> .flex {
		min-height: 100vh;
	}
	.text-sans;
	.text-black;
	* {
		box-sizing: border-box;
	}
	.flex {
		.flex-wrap;
	}
	p {
		a {
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid fadeout(@blue, 50%);
			}
		}
	}
}




// ### WELCOME #################################################################

.welcome-screen {
	.transition(opacity, 2s, ease);
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 20;
	&.ng-leave-active {
		.transition(opacity, 250ms);
		opacity: 0;
	}
}
.welcome-screen__wrapper {
	.flex;
	background-color: fadeout(@white, 8%);
	height: 100vh;
}
.welcome-screen__link {
	.transition(all, 2s, ease);
	border-radius: 4px;
	margin-top: 1em;
	&:hover{
		.blue;
		.text-white;
		.transition(all);
	}
}



// ### MAIN / LEFT PANEL #######################################################

.header {
	background-color: fadeout(@black, 65%);
	border-bottom: 1px solid fadeout(@black, 80%);
}
.header__input {
	.transition(border-color);
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #fff;
	color: #fff;
	outline: none;
	&:hover, &:focus{
		.transition(border-color);
		border-color: @blue;
	}
	&::-webkit-input-placeholder {
		color: fadeout(@white, 25%);
	}
}
.header__container {
	height: 40vh;
}
.header__add-button {
	.transition(all, 2s, ease);
	border-radius: 4px;
	margin-top: 0.5em;
	text-decoration: none;
	&:hover{
		.blue;
		.text-white;
		.transition(all);
	}
}


.task {
	.transition(all, 500ms, ease);
	box-shadow: 0 0px 0px rgba(0,0,0,0.5);
	transform-origin: center left;
	z-index: 1;
	&:hover{
		.transition(all);
		box-shadow: 0 15px 60px rgba(0,0,0,0.15);
		transform: scale(1.1);
		z-index: 10;
		.task__btn-remove {
			opacity: 1;
		}
	}
	&.ng-enter {
		.transition(all, 150ms);
		box-shadow: 0 15px 60px rgba(0,0,0,0.15);
		opacity: 0;
		transform: scale(1.1);
	}
	&.ng-leave-active {
		.transition(all);
		opacity: 0;
		transform-origin: center center;
		transform: scaleY(0.1);
	}
}
.task__text-wrapper {
	line-height: 1.5em;
}
.task__title {
	cursor: pointer;
	&:hover{
		.text-blue;
		border-bottom: 1px solid fadeout(@blue, 50%);
	}
}
.task__btn-remove {
	.text-red;
	.text-smaller;
	margin-left: 0.5em;
	opacity: 0;
	&:hover{
		border-bottom: 1px solid fadeout(@red, 50%);
	}
}

.task--is-editing {
	background-color: lighten(@blue, 25%);
	.text-white;
}




body {
	.left-panel {
		main {
			section {
			}
		}
	}
}



// ### RIGHT PANEL #############################################################

body {
	.right-panel {
		.g-100;
		border-top: 1px solid fadeout(@black, 80%);
		header {
			border-bottom: 1px solid fadeout(@black, 80%);
		}
		section {
			.task {
				cursor: default;
				.transition(background-color, 2s, ease);
				p {
					.transition(color, 2s, ease);
				}
				&:hover{
					.true-white;
					.transition(background-color);
					p {
						.text-black;
						.transition(color);
					}
				}
				&.ng-enter {
					.transition(all, 250ms);
					transform: scaleY(0);
					transform-origin: top left;
				}
				&.ng-enter-active {
					.transition(all, 250ms);
					.true-white;
					transform: scaleY(1);
					p {
						.text-black;
						.transition(color);
					}
				}
				&.ng-leave-active {
					.transition(all, 250ms);
					transform: scaleY(0);
					transform-origin: top left;
					opacity: 0;
				}
			}
		}
	}
}



// ### MEDIA QUERIES ###########################################################

// SMALL SCREENS
@media (max-width: 47.938em) {
	.flex-basis { flex-basis: 100%; }
	body {
		.text-smaller;
		main {
			header {
				.container { height: 30vh; }
				.new-task, .editing-task { .g-100; }
			}
			section {
				.wrap-1x { padding: 0em; }
				.wrap-2x { padding: 1.5em; }
				.task { margin-bottom: 0.1em; }
			}
		}
	}
}

// MEDIUM SCREENS
@media (min-width: 48em) and (max-width: 87.438em) {
	body {
		header {
			.new-task, .editing-task { .g-80; }
		}
	}
}

// LARGE SCREENS
@media (min-width: 87.500em) {
	body {
		header {
			.new-task, .editing-task { .g-70; }
		}
		.left-panel { .g-70; }
		.right-panel {
			.g-30;
			position: fixed;
			height: 100vh;
			overflow: scroll;
			border-left: 1px solid fadeout(@black, 80%);
			.task { border-bottom: 1px solid fadeout(@black, 80%); }
		}
	}
}