@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


// ### UTILS ###################################################################

@white: #ECF0F1;
@black: #2C3E50;
@red: #E74C3C;
@blue: #2980B9;


@screen-size-small-max:  47.938em;
@screen-size-medium-min: 48em;
@screen-size-medium-max: 87.438em;
@screen-size-large-min:  87.500em;


.text-black { color: @black; }
.text-grey { color: fadeout(@black, 50%); }
.text-red { color: @red; }
.text-blue { color: @blue; }
.text-white { color: @white; }

.text-even-bigger { font-size: 1.6em; }
.text-bigger { font-size: 1.3em; }
.text-smaller { font-size: 0.7em; }
.text-even-smaller { font-size: 0.4em; }

.text-center { text-align: center; }

.text-sans { font-family: "Roboto Condensed", sans-serif; }

.icon-spacer-right { margin-right: 0.4em; }

.w400 { font-weight: 400; }
.w700 { font-weight: 700; }

.wrap-1x {
	padding: 1em;
	@media (max-width: @screen-size-small-max) {
		padding: 0.5em;
	}
}
.wrap-2x {
	padding: 2em;
	@media (max-width: @screen-size-small-max) {
		padding: 1.5em;
	}
}
.wrap-3x { padding: 3em; }

.white { background-color: @white; }
.black { background-color: @black; }
.true-white { background-color: #fff; }
.red { background-color: @red; }
.blue { background-color: @blue; }

.g-30 { width: 30%; }
.g-70 { width: 70%; }
.g-80 { width: 80%; }
.g-100 { width: 100%; }
.center { margin: 0 auto; }
.m0 { margin: 0; }
.block { display: block; }

.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.align-items-center { align-items: center; }
.align-items-stretch { align-items: stretch; }
.flex-basis {
	flex-basis: 30%;
	@media (max-width: @screen-size-small-max) {
		flex-basis: 100%;
	}
}
.flex-grow { flex-grow: 1; }

[ng-click] { cursor: pointer; }

.transition(@property: all, @duration: 150ms, @timing: ease){
	-webkit-transition: @property @duration @timing;
	transition: @property @duration @timing;
}


body {
	> .flex {
		min-height: 100vh;
	}
	.text-sans;
	.text-black;
	* {
		box-sizing: border-box;
	}
	.flex {
		.flex-wrap;
	}
	p {
		a {
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid fadeout(@blue, 50%);
			}
		}
	}
	@media (max-width: @screen-size-small-max) {
		.text-smaller;
	}
}




// ### WELCOME #################################################################

.welcome-screen {
	.transition(opacity, 2s, ease);
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 20;
	&.ng-leave-active {
		.transition(opacity, 250ms);
		opacity: 0;
	}
}
.welcome-screen__wrapper {
	.flex;
	background-color: fadeout(@white, 8%);
	height: 100vh;
}
.welcome-screen__link {
	.transition(all, 2s, ease);
	border-radius: 4px;
	margin-top: 1em;
	&:hover{
		.blue;
		.text-white;
		.transition(all);
	}
}



// ### HEADER ##################################################################

.left-panel {
	@media (min-width: @screen-size-large-min) {
		.g-70;
	}
}

.left-panel__header {
	background-color: fadeout(@black, 65%);
	border-bottom: 1px solid fadeout(@black, 80%);
}
.left-panel__header-container {
	height: 40vh;
	@media (max-width: @screen-size-small-max) {
		 height: 30vh;
	}
}
.left-panel__header-task-container {
	@media (max-width: @screen-size-small-max) {
		.g-100;
	}
	@media (min-width: @screen-size-medium-min) and (max-width: @screen-size-medium-max) {
		.g-80;
	}
	@media (min-width: @screen-size-large-min) {
		.g-70;
	}
}
.header__task-input {
	.transition(border-color);
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #fff;
	color: #fff;
	outline: none;
	&:hover, &:focus{
		.transition(border-color);
		border-color: @blue;
	}
	&::-webkit-input-placeholder {
		color: fadeout(@white, 25%);
	}
}
.header__add-button {
	.transition(all, 2s, ease);
	border-radius: 4px;
	margin-top: 0.5em;
	text-decoration: none;
	&:hover{
		.blue;
		.text-white;
		.transition(all);
	}
}


// ### TASK ####################################################################

.task {
	.transition(all, 500ms, ease);
	box-shadow: 0 0px 0px rgba(0,0,0,0.5);
	transform-origin: center left;
	z-index: 1;
	&:hover{
		.transition(all);
		box-shadow: 0 15px 60px rgba(0,0,0,0.15);
		transform: scale(1.1);
		z-index: 10;
		.task__btn-remove {
			opacity: 1;
		}
	}
	&.ng-enter {
		.transition(all, 150ms);
		box-shadow: 0 15px 60px rgba(0,0,0,0.15);
		opacity: 0;
		transform: scale(1.1);
	}
	&.ng-leave-active {
		.transition(all);
		opacity: 0;
		transform-origin: center center;
		transform: scaleY(0.1);
	}
	@media (max-width: @screen-size-small-max) {
		margin-bottom: 0.1em;
	}
}
.task__text-wrapper {
	line-height: 1.5em;
}
.task__title {
	cursor: pointer;
	&:hover{
		.text-blue;
		border-bottom: 1px solid fadeout(@blue, 50%);
	}
}
.task__btn-remove {
	.text-red;
	.text-smaller;
	margin-left: 0.5em;
	opacity: 0;
	&:hover{
		border-bottom: 1px solid fadeout(@red, 50%);
	}
}
.task--is-editing {
	.text-white;
	background-color: lighten(@blue, 25%);
}



// ### DONE TASKS ##############################################################

.done-tasks {
	border-top: 1px solid fadeout(@black, 80%);
	@media (min-width: @screen-size-large-min) {
		.g-30;
		border-left: 1px solid fadeout(@black, 80%);
		height: 100vh;
		overflow: scroll;
		position: fixed;
	}
}
.done-tasks__header {
	border-bottom: 1px solid fadeout(@black, 80%);
}
.done-tasks__task {
	.transition(background-color, 2s, ease);
	cursor: default;
	&:hover{
		.transition(background-color);
		.true-white;
		.done-tasks__task-text {
			.text-black;
			.transition(color);
		}
	}
	&.ng-enter {
		.transition(all, 250ms);
		transform: scaleY(0);
		transform-origin: top left;
	}
	&.ng-enter-active {
		.transition(all, 250ms);
		.true-white;
		transform: scaleY(1);
		.done-tasks__task-text {
			.text-black;
			.transition(color);
		}
	}
	&.ng-leave-active {
		.transition(all, 250ms);
		transform: scaleY(0);
		transform-origin: top left;
		opacity: 0;
	}
	@media (min-width: @screen-size-large-min) {
		border-bottom: 1px solid fadeout(@black, 80%);
	}
}
.done-tasks__task-text {
	.transition(color, 2s, ease);
}